@font-face{
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'ProstoOne';
    src: url(../Fonts/Montserrat/ProstoOne-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}